<header class="header">
	<nav class="navbar navbar-static-top" role="navigation">
		<i class="navic fa fa-align-justify" ng-click="navsty()"></i>
		<div class="navbar-right">
		
			<ul class="nav navbar-nav">
				<li class="dropdown messages-menu"><a href="#" ng-click="updatev()"
					class="dropdown-toggle" data-toggle="dropdown"> <i
						class="fa fa-tags"></i> <span class="label label-success"
						ng-if="(listdemandenew.length>0)">{{(listdemandenew.length>10)? listdemandenew.length+'+': listdemandenew.length }}</span>
				</a>
					<ul class="dropdown-menu">
						<li class="header">Vous avez {{
							(listdemandenew.length>1)? listdemandenew.length+'+'
							: listdemandenew.length }} demandes</li>
						<li>
							<!-- inner menu: contains the actual data -->
							<ul class="menu">

								<li ng-repeat="demande in listdemandenew"><a
									href="#/demabdenew?id={{demande.id}}">
										<h4>
											{{demande.demandeur.nom}} <small><i
												class="fa fa-clock-o"></i> {{demande.date}}</small>
										</h4>
										<p>{{demande.titre}}</p>
								</a></li>

							</ul>
						</li>
						<li class="footer"><a href="#/listdemandenew">Voir tout
								les demandes</a></li>
					</ul></li>
				<li class="dropdown user user-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <i
						class="glyphicon glyphicon-user"></i> <span>{{user.currentU.nom}}<i
							class="caret"></i></span>
				</a>
					<ul class="dropdown-menu">
						<!-- User image -->
						<li class="user-header bg-light-blue">
							<!-- <img src="../modules/img/avatar3.png" class="img-circle" alt="User Image" /> -->
							<p>
								{{user.currentU.nom}} <small>{{user.currentU.email}}</small>
							</p>
						</li>
						<!-- Menu Footer-->
						<li class="user-footer">
							<div class="pull-right">
								<a href="#/login" class="btn btn-default btn-flat">Déconnexion</a>
							</div>
						</li>
					</ul></li>
			</ul>
		</div>
		<script type="text/javascript">
			$("[data-toggle='offcanvas']").click(function(e) {
				e.preventDefault();
				//If window is small enough, enable sidebar push menu
				if ($(window).width() <= 992) {
					$('.row-offcanvas').toggleClass('active');
					$('.left-side').removeClass("collapse-left");
					$(".right-side").removeClass("strech");
					$('.row-offcanvas').toggleClass("relative");
				} else {
					//Else, enable content streching
					$('.left-side').toggleClass("collapse-left");
					$(".right-side").toggleClass("strech");
				}
			});
			
			
			
		</script>
	</nav>
</header>